<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css?family=Dosis:300,400,700"
          rel="stylesheet" />
    <link rel="stylesheet" href="~/css/WelcomeStyles.css" />

    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
